body {
    
}
#upper {
    height: 350px;
    padding: 40px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#right_side {
    float: right;
    width: 131vh;
    height: 100vh;
}
#form_inputs {
    height: px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#background{ 
    width: 70vh;
    height: 100vh;

}
#form {
    grid-template-rows: auto auto auto;
    background-color: lightyellow;
    padding: 40px;
    box-shadow: 5px 5px 5px 5px gray;
}
#bottom {
    padding: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#submit {
    background-color: #596D48;
    color: aliceblue;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: transparent;
}
form {
    height: 50px;
}
input, label {
    display:block;
}